@import "_variables.css";

.container {
  font-family: map(fonts, family-sans);
  font-size: 16px;
  display: flex;
  height: 30em;
  background-color: #fff;
  overflow: hidden;
  transition: height .4s;
}

.hidden {
  height: 0;
}